*{
	margin: 0px;
	padding: 0px;
}
html{
	background-color:#D2D2D2
}
body{
	margin-top: 60px;
	margin-left: 20px;
}
.place {
	float: left;
	margin: 10px;
	padding: 15px;
	width: 378px;
	height: 410px;
	background-color: #E9EAED;
	border: 3px ridge  #a6a6a6;
	 text-align: justify;
	 font:bold 20px Arial, Helvetica;
} 
h1{
	text-align: center;
	background-color: #D2D2D2
}

.place h2{
	padding: 10px;
	text-align: center;
}

.place img{
	padding: 10px;
}
.place p{
	margin: 5px;
}

