*{
	margin: 0px;
	padding: 0px;
}
html{
	background-color:#D2D2D2
}
body{
	margin-top: 60px;
	margin-left: 20px;
}
.signin {
	float: right;
	margin-top: 60px;
	margin bottom: 15px;
	margin-right: 10px;
	padding: 10px;
	width: 450px;
	height: 300px;
	background-color: #E9EAED;
	border: 5px ridge  #a6a6a6;
	text-align: justify;
	font:bold 20px Arial, Helvetica;
	 background-image: url("img/lock.png");
} 
.signin img{
	
}
.signin label{
	color: Cyan;
	font:bold 20px Arial, Helvetica;
	float: left;
	margin: 5px;

}
.signin input{
display:block;
float: right;
float: 5px;
margin: 5px;
color: #000033;
background-color: #D2D2D2;

}
.signin a{
color: white;
font-size: 15px;
float: right;
padding: 12px;
}
.signup {
	float: left;
	margin-top: 60px;
	margin-left: 10px;
	padding: 10px;
	width: 795px;
	height: 600px;
	background-color: #E9EAED;
	border: 3px ridge  #a6a6a6;
	 text-align: justify;
	 font:bold 20px Arial, Helvetica;
	 background-image: url("img/lck.png");
} 
.signup a{
color: white;
font-size: 15px;
float: right;
padding: 12px;
}
.signup p{
color:   Cyan;
font:bold 40px Arial, Helvetica;
margin-left: 80px;
}
.signup h3{
color: #D2D2D2;
font: bold 20px Arial, Helvetica;
margin-left: 80px;
}

.signup label{
    color: Cyan;
	font:bold 20px Arial, Helvetica;
	float: left;
	margin-left: 80px;

}
.signup input{
display:inline-block;
float: right;
width: 400px;
float: 5px;
margin: 5px;
background-color: #D2D2D2;
}
.signup textarea{
display:inline-block;
float: right;
width: 400px;
float: 5px;
margin: 5px;
background-color: #D2D2D2;
}

.extra {
	float: right;
	padding: 10px;
	margin-right: 10px;
	margin top: 15px;
	width: 450px;
	height: 300px;
	background-color: #E9EAED;
	border: 5px ridge  #a6a6a6;
	text-align: justify;
	font:bold 20px Arial, Helvetica;
	 background-image: url("img/s2.png");
} 
.extra a{
	color:  #000066;
	margin: 1px;
}